.container{
    border: 2px solid black ;
    width: 300px;
    background-color:azure;
}
.title-login{
    text-align: center;
    color:bisque
}
input{
    width:215px
}
input:focus{
    background-color: cyan;
    border: deepskyblue;
}
button{
    align-self: center;
    width:100%
}