table {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 200px;
}

body {
    background-color: aliceblue;
}

h1,h2 {
    text-align: center;
    font-style: italic;
    color: blue;
}
input {
    text-align: center;
}
.container, p {
    text-align: center;
}
.button {
    text-align: center;            
}
button{
    width: 200px;
    height: 50px;
}
select{
    width:100px
}